{% extends "layout.html" %}
{% block content %}
<div class="login" >
    <form method="POST" action="{{ url_for('forgot')}}">
        {{ form.hidden_tag() }}
        <div class="flex-col">
            <div class="lg-header">
                <h1>Request to Reset Password</h1>
            </div>

            <div class="lg-group">
                {{ form.username.label(class="lg-text") }} <br>
                {{ form.username(class="lg-input") }}
              </div>
              
            <div class="lg-group">
              {{ form.email.label(class="lg-text") }} <br>
              {{ form.email(class="lg-input") }}
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages%}
                    {% for message in messages %}
                    <h3 style="color: royalblue"> {{ message }} </h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {{ form.submit(class="btn") }}

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

    </form>
</div>
{% endblock content %}